{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title"  charset="utf-8">

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/Index_Ajax.js' %}" ></script>
  <script type="text/javascript" src="{% static 'js/graph.js' %}" ></script>
  <script type="text/javascript">
   
  </script>



</head>
<body>
  <a href="{% url 'regressions:ajaxPage' %}">AJAX testing page</a>
  <h1>Scatter Plot</h1>
  <div id="scatter_div" style="width: 900px; height: 500px;"></div>
  <form  id= "scatter_random_count" class="" action="" method="post">
    {% csrf_token %}
    <label for="scatter_total_count"> Total Count</label><input id = "scatter_total_count" type="number" name="scatter_total_count" value="50">
    <br>
    <label for="scatter_selection_count"> Selection Count</label><input id = "scatter_selection_count" type="number" name="scatter_selection_count" value="50">
    <br>
    <label for="scatter_variance"> Variance</label><input id = "scatter_variance" type="number" name="scatter_count" value="50">
    <br>

    <input id = "update_scatter_chart"  name="update_scatter_chart" value="Ajax Submit" type="button">
  </form>
  <div id = 'message'></div>

  <h1>Combo Graph</h1>
  <div id="combo_div" style="width: 900px; height: 500px;"></div>
  <form  id= "combo_random_count" class="" action="" method="post">
    {% csrf_token %}
    <label for="combo_total_count"> Total Count</label><input id = "combo_total_count" type="number" name="combo_total_count" value="50">
    <br>
    <label for="combo_selection_count"> Selection Count</label><input id = "combo_selection_count" type="number" name="combo_selection_count" value="50">
    <br>
    <label for="combo_variance"> Variance</label><input id = "combo_variance" type="number" name="combo_count" value="50">
    <br>

    <input id = "update_combo_chart"  name="update_combo_chart" value="Ajax Submit" type="button">
  </form>

  <h1>Histogram</h1>
  <div id="chart_div_histogram" style="width: 900px; height: 500px;"></div>
  <form  id= "histogram_random_count" class="" action="" method="post">
    {% csrf_token %}
    <label for="histogram_total_count"> Total Count</label><input id = "histogram_total_count" type="number" name="histogram_total_count" value="50">
    <br>
    <label for="histogram_selection_count"> Selection Count</label><input id = "histogram_selection_count" type="number" name="histogram_selection_count" value="50">
    <br>
    <label for="histogram_variance"> Variance</label><input id = "histogram_variance" type="number" name="histogram_count" value="50">
    <br>

    <input id = "update_histogram_chart"  name="update_histogram_chart" value="Ajax Submit" type="button">
  </form>

  <h1>Multi Curve</h1>
  <div id="curve_chart" style="width: 900px; height: 500px"></div>
  <form  id= "curve_random_count" class="" action="" method="post">
    {% csrf_token %}
    <label for="curve_total_count"> Total Count</label><input id = "curve_total_count" type="number" name="curve_total_count" value="50">
    <br>
    <label for="curve_selection_count"> Selection Count</label><input id = "curve_selection_count" type="number" name="curve_selection_count" value="50">
    <br>
    <label for="curve_variance"> Variance</label><input id = "curve_variance" type="number" name="curve_count" value="50">
    <br>

    <input id = "update_curve_chart"  name="update_curve_chart" value="Ajax Submit" type="button">
  </form>

  <h1>Multi Line</h1>
  <div id="multi_line_chart_div" style="width: 900px; height: 500px"></div>
  <form  id= "multi_line_random_count" class="" action="" method="post">
    {% csrf_token %}
    <label for="multi_line_total_count"> Total Count</label><input id = "multi_line_total_count" type="number" name="multi_line_total_count" value="50">
    <br>
    <label for="multi_line_selection_count"> Selection Count</label><input id = "multi_line_selection_count" type="number" name="multi_line_selection_count" value="50">
    <br>
    <label for="multi_line_variance"> Variance</label><input id = "multi_line_variance" type="number" name="multi_line_count" value="50">
    <br>

    <input id = "update_multi_line_chart"  name="update_multi_line_chart" value="Ajax Submit" type="button">
  </form>


</body>
</html>
