{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="{% static 'css/style.css' %}" media="screen" title="no title"  charset="utf-8">

  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/Index_Ajax.js' %}" ></script>
  <script type="text/javascript" src="{% static 'js/graph.js' %}" ></script>

  <script type="text/javascript">
  var scatterInput = {{ScatterInput}};
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(
      function() { // Anonymous function that calls drawChart1 and drawChart2
           drawScatter(scatterInput);
           drawCurveChart();
           drawComboChart(scatterInput);
           drawHistogram();
        });






  </script>
<script type="text/javascript">


</script>

</head>
<body>
  <a href="{% url 'regressions:ajaxPage' %}">AJAX testing page</a>
  <h1>Scatter Plot</h1>
  <div id="scatter_div" style="width: 900px; height: 500px;"></div>
  <form  id= "random_count" class="" action="" method="post">
    {% csrf_token %}
    <label for="element_total_count"> Total Count</label><input id = "element_total_count" type="number" name="element_total_count" value="50">
    <br>
    <label for="element_selection_count"> Selection Count</label><input id = "element_selection_count" type="number" name="element_selection_count" value="50">
    <br>
    <label for="element_variance"> Variance</label><input id = "element_variance" type="number" name="element_count" value="50">
    <br>

    <input id = "update_scatter_chart"  name="update_scatter_chart" value="Ajax Submit" type="button">
  </form>



  <div id = 'message'>Initial text</div>

  <h1>Combo Graph</h1>
  <div id="combo_div" style="width: 900px; height: 500px;"></div>

  <h1>Histogram</h1>
  <div id="chart_div_histogram" style="width: 900px; height: 500px;"></div>

  <h1>Example 3</h1>
  <div id="curve_chart" style="width: 900px; height: 500px"></div>


</body>
</html>
